.ButtonLib {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    background-color: aliceblue;
}

.ButtonLib-primary {
    background-color: yellowgreen;
}

.ButtonLib-secondary {
    background-color: burlywood;
}

.ButtonLib-error {
    background-color: red;
}
